<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ title }}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/main.css" />

    <!-- Open Graph -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@whitep4nth3r" />
    <meta name="twitter:creator" content="@whitep4nth3r" />

    <meta property="og:url" content="https://womenofjamstack.com/og.png" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ metaDescription }}" />
    <meta property="og:locale" content="en_GB" />

    <meta property="og:image" content="https://womenofjamstack.com/og.png" />
    <meta
      property="og:image:alt"
      content="Photos of Cassidy Williams and Salma Alam-Naylor with the Women of Jamstack logo and branding"
    />
    <meta property="og:image:width" content="1300" />
    <meta property="og:image:height" content="650" />
    <meta property="og:site_name" content="Women of Jamstack" />

    <!-- Meta -->
    <meta name="description" content="{{ metaDescription }}" />
    <meta name="monetization" content="$ilp.uphold.com/J7y7wkRezRYL" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f0047f" />
    <meta name="msapplication-TileColor" content="#f0047f" />
    <meta name="theme-color" content="#f0047f" />
  </head>
  <body>
    {% include "header.html" %}
    <main>{{ content }}</main>
    {% include "footer.html" %}
  </body>
</html>
