.header {
  padding: 1rem;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: var(--page-max-width);

  svg {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    align-items: flex-start;

    svg {
      width: unset;
    }
  }
}
