.hero {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  padding: 1rem;

  @media screen and (min-width: 900px) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
  }
}

// .hero__content {
// }

.hero__contentHeadline {
  @include font_bold;
  color: var(--color-hero-text);
  font-size: clamp(2rem, 2.6vw, 2.6rem);
  line-height: 1.2;
  margin-bottom: 2rem;
}

.hero__contentByline {
  @include font_main;
  color: var(--color-hero-text);
  font-size: clamp(1.2rem, 1.6vw, 1.6rem);
  line-height: 1.3;
  margin-bottom: 4rem;
}

// .hero__card {
// }

.hero__buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4rem;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.hero__button {
  color: #fff;
  background-color: var(--color-button-bg);
  text-decoration: none;
  font-family: var(--font-family-cursive);
  text-transform: uppercase;
  border-radius: var(--border-radius-base);
  padding: 1rem;
  font-size: 1.4rem;
  text-align: center;
  line-height: 1;

  &:focus {
    @include focus($bgColor: var(--color-page-bg));
  }
}

.hero__button--alt {
  background-color: var(--color-button-bg-alt);
}
